body {
    margin: auto;
    max-width: 100ch;
    padding: 1ch 2ch;
    font-family: "Source Code Pro", "Courier New", monospace;
    line-height: 150%;
    font-size: larger;
}

img {
  border-radius: 4%;
}

input {
    height: 18px;
    width: 18px;
}


@media(prefers-color-scheme: dark) {
    :root{
        accent-color : #696;
    }
    body {
        background-color: #333341;
        color: #eee;
    }
    a {
        font-weight: bold;
        color: #ff7f00;
    }

    details {
        color: #878;
    }

    details[open] {
        color: #7b5;
        /*font-weight: bold;*/
    }
}
