body {
    margin: auto;
    max-width: 80ch;
    padding: 1ch 2ch;
    font-family: "Source Code Pro", "Courier New", monospace;
    line-height: 150%;
    font-size: larger;
}

button {
  margin: 2px;
  color: inherit;
  font-family: inherit;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 2px solid #4c4264;
  border-radius: 8px;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 9px 6px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 4px;
  width: 100px
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #444461;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #555577;
}

h1 {
  margin-top: 27px;
  line-height: 120%;
  font-size: 130%;
}

h2 {
  line-height: 120%;
  font-size: 120%;
}

h3 {
  line-height: 120%;
  font-size: 100%;
}

img {
  border-radius: 8px;
}

/*
h1 {
    margin-top: 80px;
}

h2 {
    margin-top: 60px;
}*/

input {
    height: 18px;
    width: 18px;
}

hr {
    margin: 10px;
    border: 1px solid;
    color: #4c4264;
    clear: both;
}

.line {
    width: 95%;
    height: 10px;
    border-bottom: 2px solid #4c4264;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}
.line > h3 > span {
  color: #5c5284;
  font-size: 130%;
  background-color: #333341;
  padding: 0 10px;
}

.faded {
    color: #645c82;
}

/* Indent nested summaries */
details > *:not(summary){
  margin-left: 2em;
}

details {
    color: #999;
}

details[open] {
    color: #390;
}

 /* Container holding the image and the text */
.card {
  position: relative;
  float:left;
  margin: 4px;
  background-color: #555577;
  border-radius: 8px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5);
  height: 170px;
  width: 110px;
}

.hand {
  position: fixed;
  bottom: -140px;
  left: 50%;
  transform: translate(-50%, -0%);
}

.hand .card {
  top: 0px;
  transition: top ease 0.2s;
}

.hand .card:hover {
  top: -135px;
}

.brown {
  background-color: #934a39;
}

.yellow {
  background-color: #9f7b36;
}

.blue {
  background-color: #517786;
}

.green {
  background-color: #70794e;
}

.purple {
  background-color: #6f5786
}

.card img {
  position: absolute;
  top: 10px;
  border-radius: 0px;
  opacity: 85%;
  width: 100%;
  height: 110px;
  width: 110px;

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.tab-content {
  margin: -16px;
  margin-top: 15px;
}

.footer {
  clear: both;
  margin-bottom: 100px;
}

.tab-links {
  width: 100px;
  padding: 0px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  top: 124px;
  left: 9px;
  color: #eee;
  line-height: 115%;
  font-weight: normal;
  font-size: 90%;
}

.top-right {
  position: absolute;
  top: 2px;
  right: 9px;
  color: #eee;
  line-height: 130%;
  font-weight: normal;

  text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.7);
}

.tooltip:hover > .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;

  background-color: #555577;
  color: #eee;
  border-color: #8888bb;
  border-width: 2px;
  border-style: solid;

  text-align: center;
  border-radius: 8px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;

  top: -11px;
  right: 105%;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

/* @media(prefers-color-scheme: dark) { */
    :root{
        accent-color : #696;
    }
    body {
        background-color: #333341;
        color: #ccc;
    }
    a {
        color: #49b;
    }
    a:visited {
        color: #86a;
    }

    details {
        color: #878;
    }

    details[open] {
        color: #7b5;
    }

    details[open] a {
        color: #7b5;
    }
/* } */
